.layout-header {
  position: fixed;
}
.layout-header.reverse + .wrap .layout-aside {
  padding-top: 60px;
}

.wrap {
  padding-top: 90px;
  box-sizing: border-box;
}

.layout-container {
  flex: 1;
  margin-left: 244px;
}
.layout-container header {
  background: #2f2f2f;
}
.layout-container header p {
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
}
.layout-container header .download {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background: #1c1c1c;
}
.layout-container header .download a {
  box-sizing: content-box;
  padding: 0 10px;
  border: none;
}
.layout-container header h1 {
  font-size: 56px;
  color: #ffffff;
  padding: 75px 0 25px 0;
}
@media (max-width: 991px) {
  .layout-container header {
    padding: 60px;
  }
}
@media (max-width: 767px) {
  .layout-container header {
    padding: 0 20px;
  }
}

.el-tabs .el-tabs__header {
  margin-bottom: 0;
}

.el-tabs .el-tabs__item {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.el-tabs .el-tabs__item.is-active {
  font-weight: bold;
}

.el-tabs .el-tabs__active-bar {
  background: #fff;
  height: 4px;
}

.el-tabs .el-tabs__nav-wrap::after {
  display: none;
}

.el-scrollbar-list {
  height: 100%;
}

.el-scrollbar__bar {
  right: 4px;
}

.el-scrollbar__thumb {
  background: #fff;
}
.el-scrollbar__thumb:hover {
  background: #dcdcdc;
}

.content .item {
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.content .item .image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.content .item:hover .image {
  transform: scale(1.03);
}

.content .item h3 {
  font-family: Futura, sans serif;
  font-size: 32px;
  color: #ffffff;
  text-align: left;
  line-height: 32px;
  padding: 0;
  font-weight: 500;
}

.content .item p {
  padding-top: 20px;
  padding-bottom: 80px;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
  line-height: 30px;
}

.content .item a {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  line-height: 30px;
}

@media (max-width: 991px) {
  .content .item {
    padding: 30px 60px;
  }
  .content .item p {
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .content .item {
    padding: 20px;
  }
  .content .item p {
    padding-bottom: 20px;
  }
}

.content .item-1 .image {
  background-image: url(./img/item-1.png);
}

.content .item-2 .image {
  background-image: url(https://img.alicdn.com/tfs/TB1hYuFENnaK1RjSZFtXXbC2VXa-3260-720.png);
}

.content .item-3 .image {
  background-image: url(https://img.alicdn.com/tfs/TB1.2yhEFzqK1RjSZFCXXbbxVXa-3260-720.png);
}

.content .item-4 .image {
  background-image: url(https://img.alicdn.com/tfs/TB1JNV6EPDpK1RjSZFrXXa78VXa-3260-720.png);
}

@media (max-width: 991px) {
  .content {
  }
}
@media (max-width: 767px) {
  .content {
  }
}

a:hover {
  color: #fff;
  text-decoration: underline;
}
li.active {
  text-decoration: underline;
}
.content {
  padding: 0;
}

@media (max-width: 991px) {
  .content {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .content {
    padding: 0;
  }
}
.layout-container {
  color: #000000;
  background-color: #1c1c1c;
}

.soon {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  line-height: 30px;
}
