.searchbox {
  display: inline-block;
  visibility: visible !important;
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 32px !important;
  white-space: nowrap;
}
.searchbox .algolia-autocomplete {
  display: block;
  width: 100%;
  height: 100%;
}
.searchbox__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.searchbox__input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-right: 26px;
  padding-left: 32px;
  border: 0;
  border-radius: 16px;
  background: #fff !important;
  box-shadow: inset 0 0 0 1px #ccc;
  font-size: 12px;
  vertical-align: middle;
  white-space: normal;
  transition: box-shadow .4s ease, background .4s ease;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-decoration,
.searchbox__input::-webkit-search-results-button,
.searchbox__input::-webkit-search-results-decoration {
  display: none;
}
.searchbox__input:hover {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}
.searchbox__input:active,
.searchbox__input:focus {
  outline: 0;
  background: #fff;
  box-shadow: inset 0 0 0 1px #aaa;
}
.searchbox__input::-webkit-input-placeholder {
  color: #aaa;
}
.searchbox__input:-ms-input-placeholder,
.searchbox__input::-ms-input-placeholder {
  color: #aaa;
}
.searchbox__input::placeholder {
  color: #aaa;
}
.searchbox__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  width: 32px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 16px 0 0 16px;
  background-color: rgba(69, 142, 225, 0);
  font-size: inherit;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.searchbox__submit:before {
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
  content: '';
}
.searchbox__submit:active,
.searchbox__submit:hover {
  cursor: pointer;
}
.searchbox__submit:focus {
  outline: 0;
}
.searchbox__submit svg {
  width: 14px;
  height: 14px;
  vertical-align: middle;

  fill: #6d7e96;
}
.searchbox__reset {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  fill: rgba(0, 0, 0, .5);
}
.searchbox__reset.hide {
  display: none;
}
.searchbox__reset:focus {
  outline: 0;
}
.searchbox__reset svg {
  display: block;
  width: 8px;
  height: 8px;
  margin: 4px;
}
.searchbox__input:valid ~ .searchbox__reset {
  display: block;
  -webkit-animation-name: a;
          animation-name: a;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}
@-webkit-keyframes a {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes a {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  /* right: 0 !important; */
  left: inherit !important;
}
.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu:before {
  right: 48px;
}
.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  right: inherit !important;
  left: 0 !important;
}
.algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu:before {
  left: 48px;
}
.algolia-autocomplete .ds-dropdown-menu {
  position: relative;
  z-index: 1;
  top: -6px;
  min-width: 500px;
  max-width: 600px;
  height: auto;
  margin: 6px 0 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  background: transparent;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2), 0 2px 3px 0 rgba(0, 0, 0, .1);
  text-align: left;
}
.algolia-autocomplete .ds-dropdown-menu:before {
  display: block;
  position: absolute;
  z-index: 2;
  top: -7px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fff;
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  position: relative;
  z-index: 2;
  margin-top: 8px;
}
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion {
  cursor: pointer;
}
.algolia-autocomplete
  .ds-dropdown-menu
  .ds-suggestion.ds-cursor
  .algolia-docsearch-suggestion.suggestion-layout-simple,
.algolia-autocomplete
  .ds-dropdown-menu
  .ds-suggestion.ds-cursor
  .algolia-docsearch-suggestion:not(.suggestion-layout-simple)
  .algolia-docsearch-suggestion--content {
  background-color: rgba(69, 142, 225, .05);
}
.algolia-autocomplete .ds-dropdown-menu [class^='ds-dataset-'] {
  overflow: auto;
  position: relative;
  padding: 0 10px 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 14px 0 rgba(22, 45, 61, .24);
}
.algolia-autocomplete .ds-dropdown-menu * {
  box-sizing: border-box;
}
.algolia-autocomplete .algolia-docsearch-suggestion {
  overflow: hidden;
  position: relative;
  padding: 0 8px;
  color: #02060c;
  background: #fff;
}
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  padding: .1em .05em;
  color: #174d8c;
  background: rgba(143, 187, 237, .1);
}
.algolia-autocomplete
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--category-header-lvl0
  .algolia-docsearch-suggestion--highlight,
.algolia-autocomplete
  .algolia-docsearch-suggestion--category-header
  .algolia-docsearch-suggestion--category-header-lvl1
  .algolia-docsearch-suggestion--highlight {
  color: inherit;
  background: inherit;
}
.algolia-autocomplete
  .algolia-docsearch-suggestion--text
  .algolia-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  color: inherit;
  background: inherit;
  box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, .8);
}
.algolia-autocomplete .algolia-docsearch-suggestion--content {
  display: block;
  float: right;
  position: relative;
  width: 70%;
  padding: 5.33333px 0 5.33333px 10.66667px;
  cursor: pointer;
}
.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background: #e8e8e8;
  content: '';
}
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  display: none;
  position: relative;
  margin-top: 4px;
  padding: 8px 4px;
  border-bottom: 1px solid #e8e8e8;
  color: #333;
  font-size: 1em;
}
.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  float: left;
  width: 100%;
  padding: 8px 0 0;
}
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  float: left;
  position: relative;
  width: 30%;
  padding: 5.33333px 10.66667px;
  padding-left: 0;
  color: #a4a7ae;
  font-size: .9em;
  text-align: right;
  word-wrap: break-word;
}
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #ddd;
  content: '';
}
.algolia-autocomplete
  .algolia-docsearch-suggestion--subcategory-column
  .algolia-docsearch-suggestion--highlight {
  color: inherit;
  background-color: inherit;
}
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-inline {
  display: none;
}
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  margin-bottom: 8px;
  color: #333;
  font-size: .9em;
  font-weight: 700;
  line-height: 1.5;
}
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  display: block;
  color: #63676d;
  font-size: .85em;
  line-height: 1.2em;
}
.algolia-autocomplete .algolia-docsearch-suggestion--no-results {
  width: 100%;
  padding: 8px 0;
  font-size: 1.2em;
  text-align: center;
}
.algolia-autocomplete .algolia-docsearch-suggestion--no-results:before {
  display: none;
}
.algolia-autocomplete .algolia-docsearch-suggestion code {
  padding: 1px 5px;
  border: none;
  border-radius: 3px;
  color: #222;
  background-color: #ebebeb;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 90%;
}
.algolia-autocomplete
  .algolia-docsearch-suggestion
  code
  .algolia-docsearch-suggestion--highlight {
  background: none;
}
.algolia-autocomplete
  .algolia-docsearch-suggestion.algolia-docsearch-suggestion__main
  .algolia-docsearch-suggestion--category-header,
.algolia-autocomplete
  .algolia-docsearch-suggestion.algolia-docsearch-suggestion__secondary {
  display: block;
}
@media (min-width: 768px) {
  .algolia-autocomplete
  .algolia-docsearch-suggestion
  .algolia-docsearch-suggestion--subcategory-column {
    display: block;
  }
}
@media (max-width: 768px) {
  .algolia-autocomplete
  .algolia-docsearch-suggestion
  .algolia-docsearch-suggestion--subcategory-column {
    display: inline-block;
    float: left;
    width: auto;
    padding: 0;
    opacity: .5;
    color: #02060c;
    font-size: .9em;
    font-weight: 700;
    text-align: left;
  }
  .algolia-autocomplete
  .algolia-docsearch-suggestion
  .algolia-docsearch-suggestion--subcategory-column:before {
    display: none;
  }
  .algolia-autocomplete
  .algolia-docsearch-suggestion
  .algolia-docsearch-suggestion--subcategory-column:after {
    content: '|';
  }
  .algolia-autocomplete
  .algolia-docsearch-suggestion
  .algolia-docsearch-suggestion--content {
    display: inline-block;
    float: left;
    width: auto;
    padding: 0;
    text-align: left;
  }
  .algolia-autocomplete
  .algolia-docsearch-suggestion
  .algolia-docsearch-suggestion--content:before {
    display: none;
  }
}
.algolia-autocomplete .suggestion-layout-simple.algolia-docsearch-suggestion {
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #eee;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--content {
  width: 100%;
  padding: 0;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--content:before {
  display: none;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--category-header {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--category-header-lvl0,
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--category-header-lvl1 {
  opacity: .6;
  font-size: .85em;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--category-header-lvl1:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
  content: '';
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--wrapper {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--duplicate-content,
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--subcategory-inline {
  display: none !important;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--title {
  margin: 0;
  color: #458ee1;
  font-size: .9em;
  font-weight: 400;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--title:before {
  display: inline-block;
  color: #458ee1;
  font-weight: 700;
  content: '#';
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--text {
  display: block;
  margin: 4px 0 0;
  padding: 5.33333px 8px;
  opacity: .8;
  background: #f8f8f8;
  font-size: .85em;
  line-height: 1.4em;
}
.algolia-autocomplete
  .suggestion-layout-simple
  .algolia-docsearch-suggestion--text
  .algolia-docsearch-suggestion--highlight {
  color: #3f4145;
  box-shadow: none;
  font-weight: 700;
}
.algolia-autocomplete .algolia-docsearch-footer {
  display: none;
  float: right;
  z-index: 3;
  width: 110px;
  height: 20px;
  margin-top: 10.66667px;
  font-size: 0;
  line-height: 0;
}
.algolia-autocomplete .algolia-docsearch-footer--logo {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  text-indent: -9000px;
}
