.layout-header {
  position: fixed;
}
.layout-header.reverse + .wrap .layout-aside {
  padding-top: 60px;
}

.wrap {
  padding-top: 90px;
  box-sizing: border-box;
}

.layout-container {
  flex: 1;
  margin-left: 244px;
}
.layout-container header {
  position: relative;
  text-align: left;
  background: #ebebeb;
  padding: 0 120px;
  background-image: url('https://img.alicdn.com/tfs/TB12ytqEMDqK1RjSZSyXXaxEVXa-1670-240.png');
  background-size: cover;
  height: 219px;
}
.layout-container header .download {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background: #1c1c1c;
}
.layout-container header .download a {
  box-sizing: content-box;
  padding: 0 10px;
  border: none;
}
.layout-container header h1 {
  padding: 75px 0 35px 0;
  color: #fff;
  font-size: 56px;
}
@media (max-width: 991px) {
  .layout-container header {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  .layout-container header {
    padding: 0 20px;
  }
}

.el-tabs .el-tabs__header {
  margin-bottom: 0;
}

.el-tabs .el-tabs__item {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.el-tabs .el-tabs__item.is-active {
  font-weight: bold;
}

.el-tabs .el-tabs__active-bar {
  background: #fff;
  height: 4px;
}

.el-tabs .el-tabs__nav-wrap::after {
  display: none;
}

.el-scrollbar-list {
  height: 100%;
}

.el-scrollbar__bar {
  right: 4px;
}

.el-scrollbar__thumb {
  background: #fff;
}
.el-scrollbar__thumb:hover {
  background: #dcdcdc;
}

.content {
  padding: 80px 120px 60px 120px;
}
@media (max-width: 991px) {
  .content {
    padding: 50px 60px;
  }
}
@media (max-width: 767px) {
  .content {
    padding: 50px 20px;
  }
}
.content p {
  margin-bottom: 40px;
  letter-spacing: 0.4px;
}
.content p a {
  color: #4a90e2;
}
.content h2 {
  margin-bottom: 20px;
}
.content h4 {
  font-size: 20px;
  color: #666666;
  line-height: 18px;
  font-weight: normal;
}

.content h5 {
  font-size: 16px;
  color: #000;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.content .gray-wrap {
  background: #f4f4f4;
  padding: 40px 44px;
  margin-bottom: 60px;
}
.content .gray-wrap .item {
  display: flex;
  padding-bottom: 20px;
}
.content .gray-wrap .item .left {
  width: 50%;
}
.content .gray-wrap .item .right {
  width: 50%;
}
.content .gray-wrap .item:not(:first-child) {
  padding-top: 40px;
  border-top: 1px solid #cccccc;
}
@media (max-width: 991px) {
  .content .gray-wrap .item {
    flex-wrap: wrap;
  }
  .content .gray-wrap .item .left,
  .content .gray-wrap .item .right {
    width: 100%;
  }
  .content .gray-wrap .item .right {
    margin-top: 40px;
  }
}
.content .gray-wrap .intro {
  margin-bottom: 0;
  font-size: 16px;
  color: #666666;
  line-height: 20px;
  margin: 18px 0;
}
.content .gray-wrap .exp {
  color: #999999;
  font-size: 16px;
  line-height: 18px;
}
.content .gray-img-wrap {
  background: #f4f4f4;
  margin-bottom: 60px;
}

.img-box {
  padding-bottom: 40px;
}

.img-box img {
  max-width: 100%;
  transform: scale(0.6);
  transform-origin: left;
}

.p1 {
  color: #333;
}

.p2 {
  color: #999;
}

.p3 {
  margin-bottom: 60px !important;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

li.active {
  text-decoration: underline;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
